{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}
{{ 'my-product-logistic.css' | asset_url | stylesheet_tag }}


<div style="padding-top: 80px" class="newsletter center{% if section.settings.full_width == false %} newsletter--narrow page-width{% endif%}">
  <div class="newsletter__wrapper color-{{ section.settings.color_scheme }}" style="padding-right: 0px;padding-left: 0px">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2 class="h1" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
        {%- when 'paragraph' -%}
          <div class="newsletter__subheading rte my-padding" {{ block.shopify_attributes }}>{{ block.settings.paragraph }}</div>
      {%- endcase -%}
    {%- endfor -%}



    {% if product.metafields.my_fields.google_maps_link %}
        <iframe src="{{product.metafields.my_fields.google_maps_link}}" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    {% endif %}
    
    {% if product.metafields.my_fields.google_maps_share_link %}
      {% if product.metafields.my_fields.google_maps_meeting_point_name %}
        <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>{% render 'icon-accordion', icon: 'map_pin' %} <a href="{{product.metafields.my_fields.google_maps_share_link}}" target="_blank">{{product.metafields.my_fields.google_maps_meeting_point_name}}</a></div>
      {% endif %}
    {% endif %}

    {% if product.metafields.my_fields.meeting_time %}
      <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>{% render 'icon-accordion', icon: 'plane' %} {{product.metafields.my_fields.meeting_time}}</div>
    {% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Logistica",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.newsletter.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.newsletter.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.newsletter.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.newsletter.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.newsletter.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.newsletter.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 5,
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "google maps",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        }
      ]
    }
  ]
}
{% endschema %}

